<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAccountManagement" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ie3bltgs4zfy1.global.ds.honeywell.com/eCommerceServices/AccountManagement.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountManagement"
                contract="ServiceReference1.IAccountManagement" name="BasicHttpBinding_IAccountManagement" />
        </client>
    </system.serviceModel>
</configuration>